<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navigator</title>
</head>
<body>
    <h1>Navigation bar</h1>
    <a href="https://www.youtube.com/watch?v=lcpqpxVowU0&list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9&index=12">Youtube</a><br>
    <a href="https://www.chegg.com/chat?fromContent=true">Chegg</a><br>
    <a href="https://www.google.com/">Google</a><br>
    <a href="https://chat.openai.com/c/82f4bdac-2681-45b1-a143-7331037b0e8a">ChatGPT</a><br>
    <a href="https://www.codewithharry.com/videos/python-django-tutorials-hindi-11/">Code With Harry</a><br>
</body>
</html>